html {
    font-family: NormalBold;
    color: #ffffff;
}

body {
    margin: 0;
}

html {
    overflow: hidden;
}

@font-face {
    font-family: NormalNormal;
    src: url(../assets/script/Noto_Sans/NotoSans-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: NormalBold;
    src: url(../assets/script/Noto_Sans/NotoSans-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Mono;
    src: url(../assets/script/Noto_Sans/NotoSans-Regular.ttf);
    font-weight: normal;
    font-style: normal;
    font-family: monospace, monospace;
}

@font-face {
    font-family: MonoBold;
    src: url(../assets/script/Noto_Sans/NotoSans-Bold.ttf);
    font-weight: normal;
    font-style: normal;
    font-family: monospace, monospace;
}

:root {
    --p1: 231, 59, 45;
    --p2: 47, 111, 221;
    --p3: 241, 169, 22;
    --p4: 41, 170, 83;
    --cpu: 93, 96, 103;
    /*dark blue CODE: RRR, GGG, BBB (0-255)*/
    --primarycolor: 11, 97, 171;
    /*light blue CODE: RRR, GGG, BBB (0-255)*/
    --tertiarycolor: 60, 127, 186;
    /* dark red CODE: RRR, GGG, BBB (0-255)*/
    --secondarycolor: 146, 45, 68;
    /* light red  CODE: RRR, GGG, BBB (0-255)*/
    --quaternarycolor: 210, 67, 80;
}